<% if @conversations.present? %>
	<% @conversations.each do |c| %>
		<%= link_to c.topic, messages_conversation_path(:conv_id => c.id) %><br>
	<% end %>
<% end %>

<br>

<%= link_to "Neue Nachricht", messages_conversation_path(:new_message => true) %>

<h1>Nachricht</h1>

<% if @message.present? %>
	<% @message.each do |m| %>
		<%= m.content %><br>
	<% end %>
<% end %>
<% if @is_answer %>
	Antworten
	<%= form_tag messages_create_answer_path do %>
		<%= text_area_tag "answer", nil, :size => "50x10" %><br>
		<%= hidden_field_tag :conv_id, @conv_id %>
		<%= submit_tag "Antworten" %>
	<% end %>
<% end %>
<br>

<% if @friends.present? %>
	<%= form_tag messages_create_conversation_path do %>	
		<select name = "friend">
			<% @friends.each do |f| %>
				<option value=<%= f.id %>><%= f.first_name + " " + f.last_name %></option>
			<% end %>
		</select><br>
		Thema eingeben: <%= text_field_tag :topic %><br>
		<%= submit_tag "Schreiben" %>
	<% end %>
<% end %>
