<h1>Deine Nachrichten</h1>
<div class="SubMenu">
	<%= link_to "Neue Nachricht", messages_path(:new_message => true), :class=>"MenuButton", :id => "newMessage" %>
</div>

<% if @conversations.present? %>
	<div class="MainDiv" style="width: 300px; min-height: 200px; float: left;">
		<table>
			<thead>
				<tr>
					<th><h3>Nachrichten:</h3></th>
				</tr>
			</thead>
			<tbody>
			<% @conversations.each do |c| %>
			<tr>
				<td>
					<%= link_to c.topic, messages_path(:conv_id => c.id), :id => "showConversation" + c.id.to_s %>
				</td>
			</tr>
			<% end %>
			</tbody>
		</table>
	</div>
<% end %>



<div style="float: left; padding-left: 20px;">
<% if @message.present? %>
<div class="MainDiv">
	<h3>Messages:</h3>
		<% @message.each do |m| %>
			<%= m.user.name %> gesendet am: <%= m.send_at %><br>
			<%= simple_format m.content %><br><br>
		<% end %>
		<%= will_paginate @message %>
</div>	
<% end %>

<% if @is_answer %>
	Antworten
	<%= form_tag messages_create_answer_path do %>
		<%= text_area_tag "answer", nil, :size => "50x10" %><br>
		<%= hidden_field_tag :conv_id, @conv_id %>
		<%= submit_tag "Antworten", :class => "MenuButton" %>
	<% end %>
	Teilnehmer:
	<% if @participants.present? %>
		<% @participants.each do |p| %>
			<%= link_to p.name, :controller => "user", :action => "show", :user => p.id %>
		<% end %>
	<% end %>
</div>
<div style="width: 300px; float: left; padding-left: 20px;">
	Neuen Nutzer hinzufügen:
	<%= form_tag messages_add_user_path do %>	
		<select name = "friend">
			<% @friends.each do |f| %>
				<option value=<%= f.id %>><%= f.name %></option>
			<% end %>
		</select><br>
		<%= hidden_field_tag :conv_id, @conv_id %>
		<%= submit_tag "Hinzufügen", :class => "MenuButton", :id => "addUser" %>
	<% end %>
	<%= form_tag messages_delete_user_path do %>
		<%= hidden_field_tag :conv_id, @conv_id %>
		<%= submit_tag "Aus Konversation austreten", :class => "MenuButton", :id => "deleteFromConv" %>
	<% end %>
</div>
<%end%>
<div style="float: left">
<% if @is_new_conversation %>
	<% if @friends.present? %>
		<%= form_tag messages_create_conversation_path do %>	
			<select name = "friend">
				<% @friends.each do |f| %>
					<option value=<%= f.id %>><%= f.name %></option>
				<% end %>
			</select><br>
			Thema eingeben: <%= text_field_tag :topic %><br>
			Inhalt:<br>
			<%= text_area_tag "answer", nil, :size => "50x10" %><br>
			<%= submit_tag "Schreiben", :class=>"MenuButton" %>
		<% end %>
	<% end %>
<% end %>
</div>
