<%= form_for @project.images.build, :html => {:multipart => true} do |f| %>

<table class="AddPicture">
  <tr>
    <th>
      <%= f.label :title %>
    </th>
    <td>
      <%= f.text_field :title  %>
      <%= f.hidden_field :project_id %>
    </td>
  </tr>
  <tr>
    <th>
      <%= f.label :content %>
    </th>
    <td>
      <%= f.text_field :content %>
    </td>
  </tr>
    <tr>
    <th>
    </th>
    <td>
      <%= f.file_field :images %>
    </td>
  </tr>
    <tr>
    <th>
    </th>
    <td>
      <%= f.submit :id => "newImage" %>
    </td>
  </tr>

</table>

<% end %>