<% if current_user.avatar? %><div class="ProfileThumb"><%= image_tag current_user.avatar(:medium) %> </div><% end %>


<h1>Meine Projekte</h1>
<div class="SubMenu">
  <%= link_to 'New Project', new_project_path, :class => "MenuButton" %>
  <input type="Button" value="Projekt suchen" id="searchButton" class="MenuButton" />
</div>


<table id="searchTable">
  <thead>
    <tr>
      <th class="Title TitleHead">Title</th>
      <th class="Content ContentHead">Content</th>
      <th></th>

    </tr>
    <tr>
      <th colspan="2"><input type="text" class="SearchInputField" id="searchTableRows" /></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
<% @projects.each do |project| %>
  <tr class="SearchRow Show">
    <td class="Title"><%= link_to project.title, project %></td>
    <td class="Content"><%= project.content %></td>
    <td>
      <%= link_to "Projekt ansehen", project, :class => 'MenuButton' %>
      <%= link_to 'Bearbeiten', edit_project_path(project), :class => 'MenuButton' %>
      <%= link_to 'Löschen', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
  </tr>
<% end %>
</tbody>
</table>
</p>

