<div class="MainDiv">
	<div class="SubMenu">  
	  <%= link_to I18n.t('main.myProjects'), projects_path, :class => "MenuButton" %>
	  <% if current_user.id == @project.user_id %>
	  	<%= link_to I18n.t('main.edit') , edit_project_path(@project), :class => "MenuButton" %>
	  <% end %>
	</div>
	 
	<h1><%= @project.title %></h1>
	<p id="notice"><%= notice %></p>

	<h4>
	  <%= @project.content %>
	</h4>
</div>
<p>
<% @project.images.each do |image|%>
  <div class="Picture">
      <div class="PictureToolbar">
          <div class="PictureToolbarIcon"><%= link_to image_tag("/assets/show.png", :border=>0), image %></div>
      </div>
<%= link_to image_tag(image.images(:small)), image, :id => "image" + image.id.to_s %>
</div>
<% end %>
</p>

<% if @project.user_id == current_user.id %>
  <%= render 'formImages' %>
<% end %>
