  <%= link_to I18n.t('main.myProjects'), projects_path, :class => "MenuButton" %>
  <%= link_to I18n.t('main.edit') , edit_project_path(@project), :class => "MenuButton" %>
 
<h1><%= @project.title %></h1>
<p id="notice"><%= notice %></p>

<h4>
  <%= @project.content %>
</h4>

<p>
<% @project.images.each do |image|%>
  <div class="Picture">
      <div class="PictureToolbar">
          <div class="PictureToolbarIcon"><%= link_to image_tag("/assets/show.png", :border=>0), image %>
          </div>
          <div class="PictureToolbarIcon"><%= link_to image_tag("/assets/edit.png", :border=>0), edit_image_path(image) %>
          </div>
          <div class="PictureToolbarIcon">
            <%= link_to image_tag("/assets/delete.png", :border=>0), image, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          
        </div>
  <%= image_tag image.images(:small) %>
</div>
<% end %>
</p>

<% if @project.user_id == current_user.id %>
  <%= render 'formImages' %>
<% end %>
