

<%= form_tag :controller => 'friend', :action => 'search' do %>
	<%= text_field_tag :search, params[:search], :id => 'search_field' %>
	<%= text_field_tag :search_last_name, params[:search_last_name], :id => 'search_field_last_name' %>
	<%= submit_tag "Search", :name => nil %> 
	<%= link_to_function "Clear", "$('search_field').clear()" %>
<% end %>

<%= @is_friend %>
<% if @users.present? %>
	<ul>
		<% @users.each do |users| %>
			<%= form_for @users, :url => { :action => "send_friendship_request", :controller => "friend" } do |f|%>
			  	<li>
			  		<%= link_to users.first_name + " " + users.last_name, :controller => "user", :action => "show_profile", :user => users.id %><br>
			  		<%= f.hidden_field :id, :value => users.id %>
			  		<% if @is_friend == 1 %>
			  		
			  		<% else %>
			  			<%= f.submit "Send Request" %> 
			  		<% end %>
			  	</li><br>
			<% end %>
		<% end %>
	</ul>
<% end %>

