<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<div class="MainDiv">
<h1>Deine Freunde</h1>
<div class="SubMenu">
	<input type="Button" value="in meine Freunde suchen" id="searchButton" class="MenuButton" />
	<%= link_to I18n.t('main.findFriends'), friend_search_path, :class => "MenuButton" %>
</div>
<% if @friends.present? %>

	<table class="UserList" id="searchTable" >
		<tr>
			<td class="Thumb"></td>
			<td><input type="text" class="SearchInputField" id="searchTableRows"></td>
			<td></td>
		</tr>
	<% @friends.each do |friend| %>
		<tr class="SearchRow">
			<%= form_for friend, :url => friend_delete_friendship_path do |f| %>
			<td class="Thumb" >
				<% if friend.avatar? %><%= image_tag friend.avatar(:miniThumb) %><% end %>
			</td>
				<td class="UserName">
					<%= link_to friend.name, :controller => "user", :action => "show", :user => friend.id %>
				</td>
				<td>
					<%= f.hidden_field :id, :value => friend.id %>
					<%= f.submit "Freundschaft löschen", data: { confirm: 'Möchtest du die Freundschaft wirklich löschen?' }, :class => "MenuButton", :id => "deleteFriendship" + friend.id.to_s %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</table>

<% end %>	
</div>