<h1>Deine Freunde</h1>
<div class="SubMenu">
	<input type="Button" value="in meine Freunde suchen" id="searchButton" class="MenuButton" />
	<%= link_to I18n.t('main.findFriends'), friend_search_path, :class => "MenuButton" %>
</div>
<% if @friends.present? %>
	<table class="UserList" id="searchTable" >
		<tr>
			<td class="Thumb"></td>
			<td><input type="text" class="SearchInputField" id="searchTableRows"></td>
			<td></td>
		</tr>
	<% @friends.each do |friend| %>
		<tr class="SearchRow">
			<%= form_for friend, :url => friend_delete_friendship_path do |f| %>
			<td class="Thumb" >
				<%= image_tag friend.avatar(:miniThumb) %>
			</td>
				<td class="UserName">
					<%= link_to friend.first_name + " " + friend.last_name, :controller => "user", :action => "show_profile", :user => friend.id %>
				</td>
				<td>
					<%= f.hidden_field :id, :value => friend.id %>
					<%= f.submit "Freundschaft löschen", :class => "MenuButton" %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% end %>
</p>