<div class="MainDiv">
<h1>Eigene Anfragen </h1>


<% if @requests.present? %>
	<table>
		<% @requests.each do |r| %>
			<tr>
				<%= form_for r, :url => friend_delete_friendship_request_path do |f| %>
					<%= f.hidden_field :id, :value => r.id %>
					<td class="Thumb"><%= image_tag r.avatar(:miniThumb) %></td>
					<td class="UserName"><%= r.name %></td>
					<td><%= f.submit "Zurückziehen", :id => "deleteRequest", :class => "MenuButton" %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% else %>
	<h4>Aktuell sind keine Anfragen offen</h4>
<% end %>
</div>

