<% @users.each do |user| %>
			<div class="SubMenu">
			<%= form_for user, :url => friend_delete_friendship_path do |f| %>
			
		  		<%= f.hidden_field :id, :value => @user_id %>

		  		<%= f.submit "Freundschaft löschen", data: { confirm: 'Soll die Freundschaft wirklich gelöscht werden?' },  :class => "MenuButton" %>
		  		<input type="Button" value="Nachricht schicken" class="MenuButton" />
		

		  
			<% end %>
			<%= form_tag messages_create_conversation_path do |f| %>
				Thema eingeben: <%= text_field_tag :topic %><br>
				Inhalt:<br>
				<% friend = @user_id %>
				<%= text_area_tag "answer", nil, :size => "50x10" %><br>
				<input type="hidden", name="friend", value=<%= @user_id %> >
				<%= submit_tag "Nachricht Schreiben", :class => "MenuButton" %>
			<% end %>
				</div>
		<p>
			<h1>
				<% if @thisUser.avatar? %>
					<div class="ProfileThumb"><%= image_tag user.avatar(:medium) %></div>
				<% else %>
					
				<% end %>
				<%= @thisUser.first_name %>
				<%= @thisUser.last_name %>'s Profil
			</h1>
			
<div class="ProfileContainer">
			<h3 class="ProjectHead"><%= user.first_name %> <%= user.last_name %>'s Projekte:</h3>
			<table>
				<tbody>
				<% user.projects.each do |project| %>
						<tr class="ProjectSearchRow Show">
						    <td class="Title"><%= link_to project.title, project %></td>
						    <td class="Content"><%= project.content %></td>
						    <td>
						      <%= link_to 'Show', project, :class => 'MenuButton' %>
						      </td>
						</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<div class="ProfileContainer">
		<h3 class="ProjectHead"><%= user.first_name %> <%= user.last_name %>'s Bilder:</h3>
				<% user.projects.each do |project| %>
						<% project.images.each do |image| %>
								<div class="Picture"><%= link_to image_tag(image.images(:miniThumb)), image %></div>
						<% end %>

				<% end %>
		<% end %>
</div>
<div class="ProfileContainer">
		<h3 class="ProjectHead">Freunde:</h3>
			<% if @friends.present? %>
				<table>
					<tbody>
						<% @friends.each do |f| %>
							<tr>
								<td class="Thumb"><%= image_tag f.avatar(:miniThumb) %></td>
								<td class="UserName"><%= link_to f.name, :controller => "user", :action => "show", :user => f.id %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
</div>