<div class="ProfileThumb"><%= image_tag current_user.avatar(:medium) %> </div>
	<h1>Mein Profil: </h1><br>
	<h2>Freunde: </h2>
		
	<% if @friends.present? %>
		<table>
			
			<% @friends.each do |f| %>
				<tr>
					<td class="Thumb"> <%= image_tag f.avatar.url(:miniThumb) %> </td>
					<td class="UserName"><%= link_to f.name, :controller => "user", :action => "show", :user => f.id %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
<div class="ProfileContainer">
	<h2>Projekte</h2>
	<table>
		<% current_user.projects.each do |project| %>
			<tr class="ProjectSearchRow Show">
			    <td class="Title"><%= link_to project.title, project %></td>
			    <td class="Content"><%= link_to project.content, project %></td>
			    <td>
			      <%= link_to 'Show', project, :class => 'MenuButton' %>
			      <%= link_to 'Edit', edit_project_path(project), :class => 'MenuButton' %>
			      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
			</tr>
		<% end %>
	</table>
</div>
<div class="ProfileContainer">
	<h2>Bilder:</h2>
	<% current_user.projects.each do |project| %>
  		<% project.images.each do |image| %>
  			<div class="Picture">
     		<div class="PictureToolbar">
		     	 <div class="PictureToolbarIcon">
		     	 	<%= link_to image_tag("/assets/loupe.png", :border=>0), image %>
		     	 </div>
		 		 <div class="PictureToolbarIcon">
		    		<%= link_to image_tag("/assets/edit.png", :border=>0), edit_image_path(image) %>
		 		 </div>
		  		 <div class="PictureToolbarIcon Delete">
		    		<%= link_to image_tag("/assets/delete.png", :border=>0), image, method: :delete, data: { confirm: 'Are you sure?' } %>
		  		 </div>
        	</div>
        	<%= image_tag image.images(:small) %>
     	</div>
  		<% end %>
  </div>
	<% end %>