<div class="MainDiv">
	<h1>Mein Profil: </h1>
	<div class="ProfileThumb"><%= image_tag current_user.avatar(:medium) %> </div>
	
		<h3>Projekte</h3>
		<table>
			<% current_user.projects.each do |project| %>
				<tr class="ProjectSearchRow Show">
				    <td class="Title"><%= link_to project.title, project %></td>
				    <td class="Content"><%= link_to project.content, project %></td>
				    <td>
				      <%= link_to 'Show', project, :class => 'MenuButton' %>
				      <%= link_to 'Edit', edit_project_path(project), :class => 'MenuButton' %>
				      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
				</tr>
			<% end %>
		</table>
		<h3>Freunde: </h3>
		
	<% if @friends.present? %>
		<table>
			
			<% @friends.each do |f| %>
				<tr>
					<td class="Thumb"> <% if f.avatar? %><%= image_tag f.avatar.url(:miniThumb) %><% end %> </td>
					<td class="UserName"><%= link_to f.name, :controller => "user", :action => "show", :user => f.id %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>

<div class="AllPictureDiv">
	<h3 class="ProjectHead">Deine Bilder:</h3>
			<% current_user.projects.each do |project| %>
					<% project.images.each do |image| %>
							<div class="Picture"><%= link_to image_tag(image.images(:miniThumb)), image %></div>
					<% end %>

			<% end %>
</div>