<div class="MainDiv">
		<h1><%= @thisUser.first_name %> <%= @thisUser.last_name %>'s Profil</h1>
		<% if @thisUser.avatar? %><div class="ProfileThumb"><%= image_tag @thisUser.avatar(:medium) %></div><% end %>

<h4>Du bist nicht mit <%= @thisUser.first_name %> <%= @thisUser.last_name %> befreundet</h4>
				<% if @current_user_request == 1 %>
					<% users = [@user_id] %>
					<% @users.each do |user| %>
						<%= form_for user, :url => friend_delete_friendship_request_path do |f| %>
					  		<%= f.hidden_field :id, :value => @user_id %>
					  		<%= f.submit "Anfrage zurückziehen", :class => "MenuButton" %>
						<% end %>
					<% end %>
				<% elsif @other_user_request == 1 %>
					<% users = [@user_id] %>
					<% @users.each do |user| %>
						<%= form_for user, :url => friend_accept_friendship_request_path do |f| %>
					  		<%= f.hidden_field :id, :value => @user_id %>
					  		<%= f.submit "Freundschaft bestätigen", :class => "MenuButton" %>
						<% end %>
					<% end %>
				<% else %>
					<% users = [@user_id] %>
					<% @users.each do |user| %>
						<%= form_for user, :url => friend_send_friendship_request_path do |f| %>
					  		<%= f.hidden_field :id, :value => @user_id %>
					  		<%= f.submit "Freundschaft anfragen", :class => "MenuButton" %>
						<% end %>
					<% end %>
				<% end %>
</div>
