

<!--<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>-->
<div class="MainDiv">
<h1>Profileinstellungen</h1>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

	<%= devise_error_messages! %>
<div>
	<table style="clear: both;">
		<tr>
			<th><%= I18n.t('settings.email') %>*</th>
			<td><%= f.text_field :email, :value => current_user.email  %></td>
		</tr>
		<tr>
			<th><%= I18n.t('settings.firstname') %>*</th>
			<td><%= f.text_field :first_name, :value => current_user.first_name %></td>
		</tr>
		<tr>
			<th><%= I18n.t('settings.lastname') %>*</th>
			<td><%= f.text_field :last_name, :value => current_user.last_name %></td>
		</tr>
		<tr>
			<th><%= f.label "Neues Passwort" %></th>
			<td><%= f.password_field :password, :autocomplete => "off" %></td>
		</tr>
		<tr>
			<th><%= f.label "Wiederhole Passwort" %></th>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<th><% if current_user.avatar? %><%= image_tag current_user.avatar.url(:thumb) %><% end %></th>
			<td><%= f.file_field :avatar %></td>
		</tr>
		<tr>
			<th><%= f.label "aktuelles Passwort*" %></th>
			<td><%= f.password_field :current_password %></td>
		</tr>
		<tr>
			<th></th>
			<td><%= f.submit "Update", data: { confirm: 'Sollen die Profildaten wirklich geändert werden?' }, :class => "MenuButton", :id => "update" %></td>
		</tr>
	</table>
	Mit * gekenntzeichnete Felder müssen angegeben werden  
<% end %>
</div>
</div>

