<div class="ProfileThumb"><%= image_tag current_user.avatar(:medium) %> </div>
<h1>Willkommen <%= current_user.name %></h1>

<div class="MainDiv">
	<div>
		<h3 class="ProjectHead">Freundschaftsanfragen:</h3>
		<table>
			<% current_user.friend_requestss.each do |r| %>
				<tr>
					<%= r.friend_id %>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="MainDiv">
	<h3 class="ProjectHead">Letzten Nachrichten:</h3>
	<table>
		<% current_user.conversations.order("created_at desc").each do |cu| %>
			<% cu.messages.each do |m| %>
				<tr>
					<td class="MessageTime"><%= m.send_at %></td>
					<td class="MessageTopic"><%= link_to cu.topic, messages_path %></td>
					<td class="MessageContent"><%= link_to m.content, "/messages?conv_id="+cu.id.to_s %></td>
				</tr>
			<% end %>
		<% end %>

	</table>
</div>


<div class="MainDiv">
<h3 class="ProjectHead"><%= link_to I18n.t('main.myProjects'), projects_path %>:</h2>
<table>
		<% current_user.projects.each do |project| %>
			<tr class="ProjectSearchRow Show">
			    <td class="Title"><%= link_to project.title, project %></td>
			    <td class="Content"><%= project.content %></td>
			    <td>
			      <%= link_to 'Show', project, :class => 'MenuButton' %>
			      <%= link_to 'Edit', edit_project_path(project), :class => 'MenuButton' %>
			      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
			</tr>
		<% end %>
</table> 
</div>
<h3 class="ProjectHead"><%= link_to I18n.t('main.myPics') , images_path %>:</h2>
<% current_user.projects.each do |project| %>
  		<% project.images.each do |image| %>
  			<div class="Picture">
     		
        	<%= link_to image_tag(image.images(:miniThumb)), image %>
     	</div>
  	<% end %>
  <% end %>
