<div class="MainDiv"><h1>Willkommen <%= current_user.name %></h1>
	<% if @friend_requests.present? %>
		<div>
			<h3 class="ProjectHead">Freundschaftsanfragen:</h3>
			<table>
				<% @friend_requests.each do |r| %>
					<tr>
						<%= r.name %>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
	<h3 class="ProjectHead">Letzten Nachrichten:</h3>
	<% if !current_user.conversations.empty? %>
	<table>
		<% @messages.each do |me| %>
			<td class="MessageTime"><%= me.send_at %></td>
				<td class="MessageTopic"><%= link_to me.conversation.topic, messages_path %></td>
				<td class="MessageContent"><%= link_to me.content, "/messages?conv_id=" + me.conversation.id.to_s %></td>
			</tr>
		<% end %>
	</table>
	<% else %>
		<h4>Keine Nachrichten vorhanden</h4>
	<% end %>
<hr/>
<h3 class="ProjectHead"><%= I18n.t('main.myProjects')%>:</h2>
	<% if !current_user.projects.empty? %>
<table>
		<% current_user.projects.each do |project| %>
			<tr class="ProjectSearchRow Show">
			    <td class="Title"><%= link_to project.title, project %></td>
			    <td class="Content"><%= project.content %></td>
			    <td>
			      <%= link_to 'Show', project, :class => 'MenuButton' %>
			      <%= link_to 'Edit', edit_project_path(project), :class => 'MenuButton' %>
			      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
			</tr>
		<% end %>
</table>
<% else %> 
	<h4>Keine Projekte angelegt</h4>
<% end %>
</div>

	<div class="AllPictureDiv">
	<h3 class="ProjectHead"><%= I18n.t('main.myPics') %>:</h2>

	<% current_user.projects.each do |project| %>
	  		<% project.images.each do |image| %>
	  			<div class="Picture">
	     		
	        	<%= link_to image_tag(image.images(:miniThumb)), image %>
	     	</div>
	  	<% end %>
	  <% end %>
	</div>


