<% if @user_id == current_user.id %>
	<h1><%= image_tag current_user.avatar(:thumb) %> Mein Profil: </h1><br>
	<h2>Freunde: </h2>
		
	<% if @friends.present? %>
		<table>
			
			<% @friends.each do |f| %>
				<tr>
					<td class="Thumb"> <%= image_tag f.avatar.url(:miniThumb) %> </td>
					<td class="UserName"><%= link_to f.name, :controller => "user", :action => "show", :user => f.id %></td>
				</tr>
			<% end %>
		</table>
	<% end %>

	<h2>Projekte</h2>
	<table>
		<% current_user.projects.each do |project| %>
			<tr class="ProjectSearchRow Show">
			    <td class="Title"><%= link_to project.title, project %></td>
			    <td class="Content"><%= link_to project.content, project %></td>
			    <td>
			      <%= link_to 'Show', project, :class => 'MenuButton' %>
			      <%= link_to 'Edit', edit_project_path(project), :class => 'MenuButton' %>
			      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
			</tr>
		<% end %>
	</table>
	<h2>Bilder:</h2>
	<% current_user.projects.each do |project| %>
  		<% project.images.each do |image| %>
  			<div class="Picture">
     		<div class="PictureToolbar">
		     	 <div class="PictureToolbarIcon">
		     	 	<%= link_to image_tag("/assets/loupe.png", :border=>0), image %>
		     	 </div>
		 		 <div class="PictureToolbarIcon">
		    		<%= link_to image_tag("/assets/edit.png", :border=>0), edit_image_path(image) %>
		 		 </div>
		  		 <div class="PictureToolbarIcon Delete">
		    		<%= link_to image_tag("/assets/delete.png", :border=>0), image, method: :delete, data: { confirm: 'Are you sure?' } %>
		  		 </div>
        	</div>
        	<%= image_tag image.images(:small) %>
     	</div>
  		<% end %>
	<% end %>
<% elsif @is_friend == 1 %>
		<% @users.each do |user| %>
			<%= form_for user, :url => friend_delete_friendship_path do |f|%>
		  		<%= f.hidden_field :id, :value => @user_id %>
		  		<%= f.submit "Freundschaft löschen", :class => "MenuButton" %>
		  		<input type="Button" value="Nachricht schicken" class="MenuButton" />
			<% end %>
		<p>
			<h1>
				<% if @thisUser.avatar? %>
					<%= image_tag user.avatar(:thumb) %>
				<% else %>
					
				<% end %>
				<%= @thisUser.first_name %>
				<%= @thisUser.last_name %>'s Profil
			</h1>
			

			<h2><%= user.first_name %> <%= user.last_name %>'s Projekte:</h2>
			<table>
				<tbody>
				<% user.projects.each do |project| %>
						<tr class="ProjectSearchRow Show">
						    <td class="Title"><%= link_to project.title, project %></td>
						    <td class="Content"><%= project.content %></td>
						    <td>
						      <%= link_to 'Show', project, :class => 'MenuButton' %>
						      <%= link_to 'Edit', edit_project_path(project), :class => 'MenuButton' %>
						      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'All pictures of this project will be deleted too. Are you sure?' }, :class => "MenuButton" %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
		<h3 class="ProjectHead"><%= user.first_name %> <%= user.last_name %>'s Bilder:</h3>
				<% user.projects.each do |project| %>
						<% project.images.each do |image| %>
								<div class="Picture">
						     		<div class="PictureToolbar">
								     	 <div class="PictureToolbarIcon">
								     	 	<%= link_to image_tag("/assets/loupe.png", :border=>0), image %>
								     	 </div>
								 		 <div class="PictureToolbarIcon">
								    		<%= link_to image_tag("/assets/edit.png", :border=>0), edit_image_path(image) %>
								 		 </div>
								  		 <div class="PictureToolbarIcon Delete">
								    		<%= link_to image_tag("/assets/delete.png", :border=>0), image, method: :delete, data: { confirm: 'Are you sure?' } %>
								  		 </div>
						        	</div>
						        	<%= image_tag image.images(:miniThumb) %>
						     	</div>
						<% end %>

				<% end %>
		<% end %>
		<div  style="clear: both" >
		<h3 class="ProjectHead">Freunde:</h3>
			<% if @friends.present? %>
				<table>
					<% @friends.each do |f| %>
						<tr>
							<td class="Thumb"><%= image_tag f.avatar(:miniThumb) %></td>
							<td class="UserName"><%= link_to f.name, :controller => "user", :action => "show", :user => f.id %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
<% else %>
		Du bist nicht mit ... befreundet
		<% if @current_user_request == 1 %>
			<% users = [@user_id] %>
			<% @users.each do |user| %>
				<%= form_for user, :url => friend_delete_friendship_request_path do |f| %>
			  		<%= f.hidden_field :id, :value => @user_id %>
			  		<%= f.submit "Anfrage zurückziehen" %>
				<% end %>
			<% end %>
		<% elsif @other_user_request == 1 %>
			<% users = [@user_id] %>
			<% @users.each do |user| %>
				<%= form_for user, :url => friend_accept_friendship_request_path do |f| %>
			  		<%= f.hidden_field :id, :value => @user_id %>
			  		<%= f.submit "Freundschaft bestätigen" %>
				<% end %>
			<% end %>
		<% else %>
			<% users = [@user_id] %>
			<% @users.each do |user| %>
				<%= form_for user, :url => friend_send_friendship_request_path do |f| %>
			  		<%= f.hidden_field :id, :value => @user_id %>
			  		<%= f.submit "Freundschaft anfragen" %>
				<% end %>
			<% end %>
		<% end %>
<% end %>