
<%= image_tag @image.images(:medium), :class => "Picture" %>   
<%= form_for @image, :html => {:multipart => true} do |f| %>

     <div class="MainDiv">  
        <table>
            <tr>
                <th><%= f.label :title %></th>
                <td><%= f.text_field :title  %></td>
            </tr>
            <tr>
                <th><%= f.label :content %></th>
                <td><%= f.text_area :content %></td>
            </tr>
            <tr>
                <th></th>
                <td><%= f.file_field :images %></td>
            </tr>
            <tr>
                <th></th>
                <td><%= f.submit "Abschicken", :class => "MenuButton", :id => "editImage" %></td>
            </tr>
        </table>
    </div>
<%= f.hidden_field :project_id %>

    <% end %>

