<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>ImageHoster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	 "elements", :media => "all" %>
  <%= stylesheet_link_tag "images", :media=> "all" %>
  <%= stylesheet_link_tag "pagination", :media=> "all" %>
  <%= javascript_include_tag "jquery-1.9.0" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "projects" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id="menu">
			<div class="MenuPlaceholder">

			</div>
			<% if user_signed_in? %>
			<ul>
				<li><div class="MenuButton"><%= link_to 'Home', user_index_path, :id => "home" %></div></li>
				<li><div class="MenuButton"><%= I18n.t('main.pictures') %></div>
					<ul>
						<li><%= link_to projects_path do %>
							<div class="MenuButton"><%= I18n.t('main.myProjects') %></div>
						<% end %></li>
						<li><%= link_to images_path do %>
							<div class="MenuButton"><%= I18n.t('main.myPics') %></div>
						<% end %></li>

					</ul>
				</li>
				<li>
					<% if @message_info %>
						<%= link_to messages_path do %>
							<div class="MenuButton" id="message">Neue Nachrichten</div>
						<% end %>
					<% else %>
					<%= link_to messages_path do %>
							<div class="MenuButton" id="message">Nachrichten</div>
						<% end %>
					<% end %>
				</li>
				<li><div class="MenuButton"><%= I18n.t('main.friends') %></div>
					<ul>
						<li>
							<%= link_to friend_showfriends_path, :id => "myFriends" do %>
								<div class="MenuButton"><%= I18n.t('main.myFriends') %></div>
							<% end %>
						</li>
						<li>
							<%= link_to friend_search_path, :id => "findFriends" do %>
								<div class="MenuButton"><%= I18n.t('main.findFriends') %></div>
							<% end %>
						</li>
						<li>
							<%= link_to friend_showrequest_path, :id => "showRequests" do %>
								<div class="MenuButton">Anfragen anzeigen</div>
							<% end %>
						</li>
					</ul>
				</li>
				
			</ul>
			
			<ul class="LogOut">
				<li><div class="MenuButton"><%= I18n.t('main.settings') %></div>
					<ul>
						<li>
							<%= link_to :controller => "user", :action => "edit", :id => "settings" do %>
								<div class="MenuButton">Einstellungen</div>
							<% end %>
						</li>
						<li><%= link_to user_show_path, :id => "profile" do %>
								<div class="MenuButton">Profil</div>
							<% end %>
						</li>
					</ul>
				</li>
				<li>
					<li>
						<%= link_to destroy_user_session_path, :id => "sign_out", :method => :delete do %>
								<div class="MenuButton"><%= I18n.t('main.sign_out') %></div>
							<% end %>
					</li>
			</ul>
		</div>
		<% end %>
		<!--	<div id="toolbarMain" class="Toolbar FadedOUT">

			</div>
			<div id="toolbarSlider" class="Toolbar FadedOUT">
			</div>-->
		<div id="main">
				<%= yield %>
		</div>	
			
</body>
</html>
