<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>ImageHoster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	 "elements", :media => "all" %>
  <%= stylesheet_link_tag "images", :media=> "all" %>
  <%= stylesheet_link_tag "pagination", :media=> "all" %>
  <%= javascript_include_tag "jquery-1.9.0" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "projects" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id="menu">
			<div class="MenuPlaceholder">

			</div>
			<% if user_signed_in? %>
			<ul>
				<li><div class="MenuButton"><%= link_to 'Home', user_index_path, :id => "home" %></div></li>
				<li><div class="MenuButton"><%= I18n.t('main.pictures') %></div>
					<ul>
						<li><div class="MenuButton"><%= link_to I18n.t('main.myProjects'), projects_path, :id => "showProjects" %></div></li>
						<li><div class="MenuButton"><%= link_to I18n.t('main.myPics'), images_path, :id => "showPictures" %></div></li>

					</ul>
				</li>
				<li>
					<% if @message_info %>
						<div class="MenuButton"><%= link_to "Neue Nachrichten", messages_path, :id => "message" %></div>
					<% else %>
						<div class="MenuButton"><%= link_to "Nachrichten", messages_path, :id => "message" %></div>
					<% end %>
				</li>
				<li><div class="MenuButton"><%= I18n.t('main.friends') %></div>
					<ul>
						<li><div class="MenuButton"><%= link_to I18n.t('main.myFriends'), friend_showfriends_path, :id => "myFriends" %></div></li>
						<li><div class="MenuButton"><%= link_to I18n.t('main.findFriends'), friend_search_path, :id => "findFriends" %><div>
						<li><div class="MenuButton"><%= link_to 'Fremde Anfragen anzeigen', friend_showrequest_path, :id => "showRequests" %>
						<li><div class="MenuButton"><%= link_to 'Eigene Anfragen anzeigen', friend_show_own_requests_path, :id => "showOwnRequests" %>
						</div></li>
					</ul>
				</li>
				
			</ul>
			
			<ul class="LogOut">
				<li><div class="MenuButton"><%= I18n.t('main.settings') %></div>
					<ul>
						<li><div class="MenuButton"><%= link_to "Einstellungen", :controller => "user", :action => "edit", :id => "settings" %></div></li>
						<li><div class="MenuButton"><%= link_to "Profil", user_show_path, :id => "profile" %></div></li>
					</ul>
				</li>
				<li><div class="MenuButton"><%= link_to I18n.t('main.sign_out'), destroy_user_session_path, :id => "sign_out", :method => :delete %></div></li>
			</ul>
		</div>
		<% end %>
		<!--	<div id="toolbarMain" class="Toolbar FadedOUT">

			</div>
			<div id="toolbarSlider" class="Toolbar FadedOUT">
			</div>-->
		<div id="main">
				<%= yield %>
		</div>	
			
</body>
</html>
